::-moz-selection {
  color: #333;
  background-color: #fdcbde;
  text-shadow: none;
}
::selection {
  color: #333;
  background-color: #fdcbde;
  text-shadow: none;
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
